* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.container {
    padding: 0 5%;
    display: flex;
}

/*Menu*/
.left {
    padding-top: 2em;
    min-width: 18%;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.menu-item a:hover {
    color: blue;
    background-color: azure;
}


/*Main*/
.main {
    width: 100%;
    padding: 1em;
}

.title {
    text-align: center;
}


.input-groups {
    margin-bottom: 10px;
}